/* fonts */
$ff-primary: "Space Mono", monospace;
$line-height: 1.5;
$font-weight-400: 400;
$font-weight-700: 700;

/* colors */
$clr-black-primary: #1a1a1a;
$clr-black-hover: #3c3c3c;
$clr-gray-1: #efefef;
$clr-gray-2: #888888;
$clr-link: #646cff;
$clr-link-hover: #535bf2;
$clr-hover-react: #646cffaa;
$clr-hover-vite: #61dafbaa;
$clr-hover-typescript: #347effaa;
