.intro {
  padding-bottom: 60px;
}

.intro__link {
  padding: 8px;
  font-weight: 600;
  line-height: 14px;
  color: #fff;
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    opacity: 1;
    color: #fff;
    background-color: #000;
  }
}
