@use '../styles/main';
@use '../styles/pages/homePage';
@use '../styles/pages/loginPage';
@use '../styles/pages/registrationPage';

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #2e3dbe;
  color: #414141;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;

  &__header {
    .main-logo {
      padding: 20px 0 40px;
    }
  }

  &__body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
  }
}

.section--login-form .section--create-account {
  padding-bottom: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-bottom: 100px;

  &__item:hover {
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    margin: 0 16px;
  }

  .form {
    max-width: 552px;

    .form-group {
      &__row:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .section--create-account {
    padding-bottom: 40px;
  }

  .buttons {
    flex-direction: row;

    &__item {
      flex: 1;
    }
  }
}
